table {
    padding: 0;
    display: table;
    border-collapse: collapse;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table-bordered {
    border: 1px solid #dddddd;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #dddddd;
}