/*.pos .actionpad .button.pay {
    height: 108px;
}*/
/*.pos .actionpad .button.js_set_ebarimt_is_person {
    position: absolute;
}*/

/*.pos .actionpad .button .fa-bank {
	position: absolute;
    left: 20px;
    top: 20px;
    margin-right: 8px;
}*/